@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
body{
    background-color: #eedce7;
    margin: 0;
    padding: 0;   
}

main{
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 100vh;
    
}
.quadrado{
    border-radius: 30px;
    width:310px;
    height: 500px;
    margin-top: 10%;
    background-color: #eec8e0;
    display: flex;
    justify-content: center;
    align-items: center;    
    box-shadow: 5px 6px 6px rgba(214, 83, 83, 0.5);

}   
.a{
    font-size: larger;

}

.cerejeira{
    width: 200px; 
      
    
}

#cerejeira2{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    rotate: 90deg;
}

.cerejeiras{
    display: flex;
    justify-content: space-evenly;
    gap: 75px;    
}

.btn-txt{    
    
    color:#6f3f32;    
    height: 200px;
    width: 100%;
    text-align: center;
    margin-top: 60%;
   
    
}

.btn{
    margin-top: 35px;
    background-color: #da5d7a;
    border: none;
    border-radius: 6px;
    width: 150px;
    height: 75px;
    list-style: none;
    margin-right: 0px;
    margin-top: 10px;
    justify-content: center;
   

    
  
 
}




.cadastro-login{ 
    display: flex;
    flex-direction: column; 
    justify-items: center;
    align-items: center;  
    margin-bottom: 100px; 
    width: 350px;
    margin-left: 12%;
    margin-top: 7%;
    margin-bottom: 30%;
  
}

.input{
    width: 150px;
    height: 20px;
}

.btn-cadastrar{
    width: 200px;
    height: 800px;
    cursor: pointer;
    gap: 60px;
    
    
    
}



.cardtodos{
    background-color: #eec8e0;
    width: 500px;
    height: 700px;
    
  justify-items: center;
 text-align: center;
  border-radius: 50px;
  -webkit-box-shadow: 15px 9px 19px 1px rgba(214,83,83,1);
-moz-box-shadow: 15px 9px 19px 1px rgba(214,83,83,1);
box-shadow: 15px 9px 19px 1px rgba(214,83,83,1);

}
/* fonte */
.titulo-cherry{
    font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-size: larger;
  font-style: normal;
      
      
}

@media (min-width: 250px) and (max-width: 600px){
   
   
}
