*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.cerejeira{
    width: 117px;
    
}

#cerejeira2{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.cerejeiras{
    display: flex;
    justify-content: space-evenly;
    gap: 75px;
    
}
.btn-txt{
    margin-top: 150PX;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    
    
}
#cadastrar{
    text-decoration: none;
    width: 100px;
    color: white; 
    font-family:Arial, Helvetica, sans-serif

}
.quadrado{
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 30px;
    width:310px;
    height: 500px;
    margin-top: 10%;
    background-color: #eec8e0;    
    box-shadow: 5px 6px 6px rgba(214, 83, 83, 0.5);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5d9ea ;
    height: 100vh;
}

.btn-cadastrar{
    background-color: #dd81b9 ;
    
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    box-shadow: 5px 6px 6px rgba(214, 83, 83, 0.2);
}

.btn-cadastrar:hover{
    background-color: #e48cc2 ;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    box-shadow: 5px 6px 6px rgba(214, 83, 83, 0.2);
}

.txt{
    text-align: center;
}