
/*
body{
    background-color: #eedce7;
    margin: 0;
    padding: 0;   
}

main{
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 100vh;
}

.cardcerejeira{
    background-color: #eec8e0;
    width: 500px;
    height: 700px;
    
  justify-items: center;
 text-align: center;
  border-radius: 50px;
  -webkit-box-shadow: 15px 9px 19px 1px rgba(214,83,83,1);
-moz-box-shadow: 15px 9px 19px 1px rgba(214,83,83,1);
box-shadow: 15px 9px 19px 1px rgba(214,83,83,1);
}

.cerejeiras{
    width:250px;
    height:150px;
}

#cerejeira2{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    rotate: 90deg;

}

.btn-txt{    
    
    color:#6f3f32;    
    height: 200px;
    width: 100%;
    text-align: center;
    margin-top: 60%;
   
}

.input{
    width: 150px;
    height: 20px;
    justify-items: center;
}
*/

body{
    background-color: #eedce7;
    margin: 0;
    padding: 0;   
}

main{
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 100vh;
    
}

.cardcerejeira{
    background-color: #eec8e0;
    width: 500px;
    height: 700px;
    
  justify-items: center;
 text-align: center;
  border-radius: 50px;
  -webkit-box-shadow: 15px 9px 19px 1px #d6535380;
-moz-box-shadow: 15px 9px 19px 1px #d6535380;
box-shadow: 15px 9px 19px 1px #d6535380;

}


#login{
    display: flex;
    background-color: #da5d7a;
    margin-left: 175px;
    margin-top: 35px;
    margin-bottom: 20px;
    align-items: center;
    gap: 60px;
}

.btn-login:hover{
    
        background-color: #e48cc2 ;
        border: none;
        width: 200px;
        height: 50px;
        border-radius: 20px;
        box-shadow: 5px 6px 6px rgba(214, 83, 83, 0.2);
    
    
}

.btn{
    margin-top: 35px;
    background-color: #da5d7a;
    border: none;
    border-radius: 6px;
    width: 150px;
    height: 50px;
    list-style: none;
    margin-right: 0px;
    margin-top: 10px;
    justify-content: center;
   
    
}

.a{
    font-size: larger;
    width: 50px;
    height: 70px;
    

}

.cerejeiras{
    width: 250px; 
    height: 150px;
    justify-content: space-evenly;
    gap:75px
}

#cerejeira2{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    rotate: 90deg;
}

.btn-txt{    
    color:#6f3f32;    
    height: 200px;
    width: 100%;
    text-align: center;
    margin-top: 60%;
}


.input{
    width: 200px;
    height: 30px;
}

.btn-cadastrar{
    width: 200px;
    height: 800px;
    cursor: pointer;
    gap: 60px;
    
    
}




